<section id="infoEmpresa" class="container-fluid pb-5 ">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 pt-md-5 pt-lg-5">
            <h1 class="pt-md-5">Sua empresa</h1>
            <p>
                Aqui vai um texto básico sobre a empresa. Exemplos de conteúdo nesse texto: história da empresa, visão,
                produto ofertado e etc.
            </p>
        </div>
        <div class="col-12 col-md-12 col-lg-6 pb-lg-4">
            <img class="img-fluid" src="assets/negocio.jpg">
        </div>
    </div>
</section>