@media screen and (max-width: 767px){
    section {
        padding-top: 10%;
        padding-bottom: 10%;

        h1 {
            text-align: center;
        }
    }
}


@media screen and (min-width: 992px){
    section {
      padding-top: 8em;
      padding-bottom: 10em;
  
      h1 {
        font-size: 80px;
        padding-bottom: 1em;
      }
    }
  }