@media screen and (max-width: 991px){
    .container_dados_cliente {
        margin-top: 1em;
    }

    .card_pecas_pesquisadas {
        margin-bottom: 5em;
    }
    
    #coluna__nome-table--controlelargura{
        width: 50%;
    }

    #card_painel-geral{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 992px){
    .container_dados_cliente {
        margin-top: 1em;
        margin-bottom: 4%;
    }

    .card_pecas_pesquisadas {
        margin-top: 1em;
    }

    #coluna__nome-table--controlelargura{
        width: 85%;
    }
}
