<ng-progress></ng-progress>

<section class="container-fluid" id="montagemOrcamento_container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-light">Montagem de Orçamentos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-12 col-md-3">
            <form ngNativeValidate [formGroup]="formPecasOrcamento">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-md-12 px-0">
                    <p class="card-header primary">
                      Suas informações
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input class="form-control" type="text" id="nome" formControlName="nome" minlength="4"
                        maxlength="64" required>
                      <div *ngIf="f.nome.invalid && (f.nome.dirty || f.nome.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="f.nome.errors.required">
                          <small class="text-muted">Por favor, insira um nome</small>
                        </div>
                        <div *ngIf="f.nome.errors.minlength">
                          <small class="text-muted">Deve conter no mínimo 4 letras</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-12">
                    <div class="form-group">
                      <label for="telefone">Telefone</label>
                      <input class="form-control" type="tel" id="telefone" formControlName="telefone" required
                        minlength="10" maxlength="11">
                      <div *ngIf="f.telefone.invalid && (f.telefone.dirty || f.telefone.touched)"
                        class="alert alert-danger mt-1">
                        <div *ngIf="f.telefone.errors.required">
                          <small class="text-muted">Por favor, insira um número de telefone ou celular</small>
                        </div>
                        <div *ngIf="f.telefone.errors.minlength">
                          <small class="text-muted">Por favor, use DDD + número do telefone</small>
                        </div>
                        <div *ngIf="f.telefone.errors.pattern">
                          <small class="text-muted">Use somente números.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-12">
                    <div class="form-group">
                      <label for="cpfcnpj">CPF/CNPJ</label>
                      <input class="form-control" type="text" id="cpfcnpj" formControlName="cpfcnpj" required
                        minlength="11" maxlength="11" pattern="^[0-9]*$">
                    </div>
                    <div *ngIf="f.cpfcnpj.invalid && (f.cpfcnpj.dirty || f.cpfcnpj.touched)"
                      class="alert alert-danger mt-1">
                      <div *ngIf="f.cpfcnpj.errors.required">
                        <small class="text-muted">Por favor, insira um CPF/CNPJ</small>
                      </div>
                      <div *ngIf="f.cpfcnpj.errors.minlength">
                        <small class="text-muted">Por favor, insira 11 números.</small>
                      </div>
                      <div *ngIf="f.cpfcnpj.errors.pattern">
                        <small class="text-muted">Não use . ou -</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-md-3 no-gutters border-right border-left">
            <div class="list-group list-group-flush">
              <button class="list-group-item list-group-item" type="button"><b>Escolha abaixo:</b></button>
              <button type="button" *ngFor="let categoria of categoriasOrdemAlfabetica" id={{categoria}}
                class="list-group-item" (click)="consultaPorCategoria($event)">{{categoria}}</button>
              <button type="button" class="list-group-item" (click)="resetaConsulta()">Limpar Lista</button>
            </div>
          </div>
          <div *ngIf="pecas" class="col-12 col-md-6">
            <div class="table-responsive">
              <table class="table table-sm table-hoverable table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Ação</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let peca of pecas | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td class="text-center">
                      <button class="btn btn-info btn-sm" type="button" id={{peca.id}}
                        (click)="pegaIdPecaCheckboxEAdicionaPecaNaLista($event)">+
                      </button>
                    </td>
                    <td>
                      {{peca.nome}}
                    </td>
                    <td>
                      {{peca.marca}}
                    </td>
                    <td>
                      {{peca.preco}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <div *ngIf="pegaPecasOrcamento">
                  <div class="col-12 d-flex justify-content-center" style="padding-left: 0px!important;">
                    <pagination-controls responsive="true" autoHide="true" (pageChange)="p = $event"
                      previousLabel="Voltar" nextLabel="Avançar"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pegaPecasOrcamento.controls.length != 0" class="row">
    <div class="col-12 col-md-12">
      <div class="card mt-3">
        <form [formGroup]="formPecasOrcamento" (ngSubmit)="salvaOrcamento()">
          <div class="table-responsive" formArrayName="pecasForm">
            <table class="table table-sm table-hoverable table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col text-center">Deletar</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Preço</th>
                  <th scope="col" style="width: 5em">Qtd</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let peca of pegaPecasOrcamento.controls; let i=index" [formGroupName]="i">
                  <td>
                    <button class="btn btn-danger" id={{pegaPecasOrcamento.controls[i].value.dadosDaPeca.id}}
                      (click)="deletaPecaListaOrcamento($event, i)">X
                    </button>
                  </td>
                  <td>
                    <p>{{pegaPecasOrcamento.controls[i].value.dadosDaPeca.nome}}</p>
                  </td>
                  <td>
                    <p>R${{pegaPecasOrcamento.controls[i].value.dadosDaPeca.preco}}</p>
                  </td>
                  <td>
                    <input class="form-control" formControlName="quantidade" type="number">
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
            </div>
          </div>
          <button class="btn btn-primary float-right" type="submit"
            [disabled]="!formPecasOrcamento.valid || pegaPecasOrcamento.length == 0">Enviar Orçamento</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <div *ngIf="sucesso" class="row text-center justify-content-center">
        <div class="col-12">
          <div class="alert alert-success my-3" role="alert">
            {{sucesso}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-nav-catalogo></app-nav-catalogo>