.table td {
    vertical-align: unset!important;
}

@media screen and (max-width: 991px){
    section {
        margin-top: 1em!important;
        margin-bottom: 3em!important;
    }

    h3.text-light {
      text-align: center;
    }
  }
  
  @media screen and (min-width: 992px){
    section {
        margin-top: 1em!important;
        margin-bottom: 4em!important;
    }
    
  }
  