.table td {
    vertical-align: unset!important;
}

@media screen and (max-width: 991px){
    button {
        margin-bottom: 3px;
    }
}

@media screen and (min-width: 992px){
    button {
        margin-left: 10px;
    }
}