<ng-progress></ng-progress>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card my-3 ">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <div class="nav-link" [ngClass]='this.abaSelecionada == "A PAGAR" ? "active" : "inactive"'
                (click)="leOrcamentos()">A PAGAR</div>
            </li>
            <li class="nav-item">
              <div class="nav-link" id="EM PRODUÇÃO"
                [ngClass]='this.abaSelecionada == "EM PRODUÇÃO" ? "active" : "inactive"'
                (click)="leOrcamentosSituacao($event)">EM PRODUÇÃO</div>
            </li>
            <li class="nav-item">
              <div class="nav-link" id="ENTREGUE" [ngClass]='this.abaSelecionada == "ENTREGUE" ? "active" : "inactive"'
                (click)="leOrcamentosSituacao($event)">ENTREGUE</div>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div *ngIf="orcamentos" class="table-responsive">
                  <table class="table table-bordered table-striped table-hover table-sm">
                    <thead class="thead-dark">
                      <th scope="col">Data</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Telefone</th>
                      <th scope="col">Ações</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let orcamento of orcamentos | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td scope="row">{{orcamento.createdAt | date:'short'}}</td>
                        <td><b>{{orcamento.nome}}</b></td>
                        <td>{{orcamento.telefone}}</td>
                        <td class="text-center align-middle">
                          <button *ngIf='this.abaSelecionada == "A PAGAR"' type="button" id={{orcamento.id}}
                            (click)="abreModalFinalizacaoOrcamento($event, orcamentoAPAGAR)"
                            class="btn btn-warning btn-sm button_orcamento"
                            [ngClass]=" orcamento.situacao == ('A PAGAR' || '') ? 'btn-warning' : 'btn-light'">{{mensagemBotaoResposta}}</button>

                          <button *ngIf='this.abaSelecionada == "A PAGAR"' type="button" id={{orcamento.id}}
                            (click)="deletaOrcamento($event)"
                            class="btn btn-danger btn-sm button_orcamento">Deletar</button>

                          <button *ngIf="this.abaSelecionada == 'EM PRODUÇÃO'" id={{orcamento.id}}
                            class="btn btn-primary btn-sm" type="button"
                            (click)="lerDadosOrcamentoAceito($event, orcamentoEmProducao)">Ver dados</button>

                          <button *ngIf="this.abaSelecionada == 'ENTREGUE'" id={{orcamento.id}}
                            class="btn btn-primary btn-sm" type="button"
                            (click)="leOrcamentoEntregue($event, orcamentoEntregue)">Ver dados</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!orcamentos" class="alert alert-warning text-center" role="alert">
                  {{msg}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="orcamentos" class="row">
    <div class="col-12 d-flex justify-content-center" style="padding-left: 0px!important;">
      <pagination-controls responsive="true" autoHide="true" (pageChange)="p = $event" previousLabel="Voltar"
        nextLabel="Avançar"></pagination-controls>
    </div>
  </div>
</div>
<app-nav-catalogo></app-nav-catalogo>

<!-- Modal Orcamento A PAGAR -->
<ng-template #orcamentoAPAGAR let-modal class="my-5">
  <div class="modal-header">
    <h4 class="modal-title">Finalizando Orçamento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid px-0 mb-3">
      <form [formGroup]="formOrcamentoFinalizado" (ngSubmit)="atualizaOrcamento()">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <p class="lead">Dados do cliente</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p><b>Nome: </b>{{infoClienteModal.nome}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p><b>CPF: </b>{{infoClienteModal.cpfcnpj}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p><b>Telefone: </b>{{infoClienteModal.telefone}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="endereco">Endereço</label>
                  <input class="form-control" type="text" id="endereco" formControlName="endereco">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="bairro">Bairro</label>
                  <input class="form-control" type="text" id="bairro" formControlName="bairro">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="cidade">Cidade</label>
                  <input class="form-control" type="text" id="cidade" formControlName="cidade">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="bairro">CEP</label>
                  <input class="form-control" type="text" id="bairro" formControlName="cep">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Forma de pagamento:</label>
                  <select class="form-control" formControlName="formaPagamento">
                    <optgroup label="Cartão">
                      <option value="visa">Visa</option>
                      <option value="mastercard">MasterCard</option>
                      <option value="cielo">Cielo</option>
                      <option value="americanexpress">American Express</option>
                    </optgroup>
                    <optgroup label="Dinheiro">
                      <option value="dinheiro">Dinheiro</option>
                    </optgroup>
                    <optgroup label="Depósito Bancário">
                      <option value="itau">Itaú</option>
                      <option value="bb">Banco do Brasil</option>
                      <option value="bradesco">Bradesco</option>
                      <option value="santander">Santander</option>
                      <option value="caixaeconomica">Caixa Econômica</option>
                      <option value="outro">Outro...</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="valorPago">Valor Pago</label>
                  <input class="form-control" type="number" id="valorPago" formControlName="valorPago">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="dataEntrega">Data de Entrega</label>
                  <input class="form-control" type="date" id="dataEntrega" formControlName="dataEntrega">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="parcelamento" (click)="exibeCampoParcelas()"
                      formControlName="parcelado">
                    <label class="form-check-label" for="parcelamento">Parcelado?</label>
                  </div>
                </div>
              </div>
              <div *ngIf="campoParcelamento" class="col-6">
                <div class="form-group">
                  <label for="numeroParcelas">Núm. de Parcelas</label>
                  <input class="form-control" type="number" id="numeroParcelas" formControlName="numeroParcelas">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="observacao">Observação</label>
                  <input class="form-control" type="text" id="observacao" formControlName="observacao">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <button class="btn btn-primary" type="submit"
                    [disabled]="!formOrcamentoFinalizado.valid">Produzir</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12 text-center">
                <p class="lead">Peças</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <table class="table table-sm table-hoverable table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Qtd</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let peca of infoClienteModal.pecasForm">
                      <td>
                        {{peca.quantidade}}
                      </td>
                      <td>
                        {{peca.dadosDaPeca.nome}}
                      </td>
                      <td>
                        {{peca.dadosDaPeca.preco}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row float-right">
              <div class="col-12">
                <b>Valor total: </b>{{infoClienteModal.precoTotal}}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid px-0">
      <div *ngIf="msg" [hidden]="erro" class="row">
        <div class="col-12">
          <div class="alert alert-success" role="alert">
            {{msg}}
          </div>
        </div>
      </div>
      <div *ngIf="erro" [hidden]="msg" class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            Desculpe-nos, algo errado aconteceu...
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!-- Modal Exibição Orcamentos em Producao -->
<ng-template #orcamentoEmProducao let-modal class="my-5">
  <div class="modal-header">
    <h4 class="modal-title">Dados do Orçamento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid px-0 mb-3">
      <div class="row">
        <div class="col-12">
          <p class="lead">Dados do cliente</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>Nome: </b>{{infoClienteModal.nome}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>CPF: </b>{{infoClienteModal.cpfcnpj}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>Telefone: </b>{{infoClienteModal.telefone}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-sm table-hoverable table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nome da Peca</th>
                  <th scope="col">Qtd</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let peca of infoClienteModal.pecasOrcamento">
                  <td>
                    {{peca.dadosDaPeca.nome}}
                  </td>
                  <td>
                    {{peca.quantidade}}
                  </td>
                </tr>
                <tr>
                  {{infoClienteModal.observacao}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <form [formGroup]="formFinalizaPedido" (ngSubmit)="entregaOrcamento()">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Responsável</label>
              <select class="form-control" formControlName="nomeFuncionario">
                <option [value]="funcionario.nome" *ngFor="let funcionario of funcionarios">
                  {{funcionario.nome}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <button class="btn btn-primary mt-1">Finalizar e Entregar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid px-0">
      <div *ngIf="msg" [hidden]="erro" class="row">
        <div class="col-12">
          <div class="alert alert-success" role="alert">
            {{msg}}
          </div>
        </div>
      </div>
      <div *ngIf="erro" [hidden]="msg" class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            Desculpe-nos, algo errado aconteceu...
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!-- Modal Orcamentos ENTREGUES-->
<ng-template #orcamentoEntregue let-modal class="my-5">
  <div class="modal-header">
    <h4 class="modal-title">Dados do Orçamento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid px-0 mb-3">
      <div class="row">
        <div class="col-12">
          <p class="lead">Dados do cliente</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>Nome: </b>{{dadosOrcamentoEntregue.nome}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>CPF: </b>{{dadosOrcamentoEntregue.cpfcnpj}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>Endereço: </b>{{dadosOrcamentoEntregue.endereco}} - {{dadosOrcamentoEntregue.bairro}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>Telefone: </b>{{dadosOrcamentoEntregue.telefone}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="lead">Peças Adquiridas</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-sm table-hoverable table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nome da Peca</th>
                  <th scope="col">Qtd</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let peca of dadosOrcamentoEntregue.pecasOrcamento">
                  <td>
                    {{peca.dadosDaPeca.nome}}
                  </td>
                  <td>
                    {{peca.quantidade}}
                  </td>
                </tr>
                <tr>
                  {{orcamentoEntregue.observacao}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="lead">Pagamento</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p><b>Forma de pagamento: </b>{{dadosOrcamentoEntregue.formaPagamento}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p><b>Parcelado?: </b>{{transformaBooleanParaStringEmCampoParcelado}}</p>
        </div>
        <div class="col-6">
          <p><b>Num. de parcelas: </b>{{dadosOrcamentoEntregue.numeroParcelas}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p><b>Valor Pago: </b>{{dadosOrcamentoEntregue.valorTotal}}</p>
        </div>
        <div class="col-6">
          <p><b>Data de entrega: </b>{{dadosOrcamentoEntregue.updatedAt | date: 'short'}}</p>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
            <p><b>Observação: </b>{{dadosOrcamentoEntregue.observacao}}</p>
          </div>
        </div>
    </div>
    <div class="container-fluid px-0">
      <div *ngIf="msg" [hidden]="erro" class="row">
        <div class="col-12">
          <div class="alert alert-success" role="alert">
            {{msg}}
          </div>
        </div>
      </div>
      <div *ngIf="erro" [hidden]="msg" class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            Desculpe-nos, algo errado aconteceu...
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>