<ng-progress></ng-progress>
<div class="container my-5">
  <div *ngIf="msg" class="row text-center text-white align-self-center">
    <div class="col-12">
      <h4>{{msg}}</h4>
    </div>
  </div>
  <div *ngIf="pecas" class="row">
    <div id="linhaCatalogo" class="col-12 col-md-12 d-flex justify-content-center">
      <div class="card-deck">
        <div class="card mx-3" *ngFor="let peca of pecas | paginate: { itemsPerPage: 5, currentPage: p }" style="width: 11rem;">
          <div class="card-header text-center lead">{{peca.categoria}}</div>
          <img class="card-img-top mt-2" src="{{peca.linkImagem}}" alt="{{peca.detalhes}}">
          <div class="card-body pb-0">
            <h6 class="card-title"><b>{{peca.nome}}</b></h6>
            <p>Marca: {{peca.marca}}</p>
            <p><strong>Preço: </strong>{{peca.preco}}</p>
            <p *ngIf="peca.detalhes" class="card-text"><strong>Detalhes: </strong>{{peca.detalhes}}</p>
            <p class="text-muted"><small>{{peca.updatedAt | date}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pecas" class="row">
    <div class="col-12 d-flex justify-content-center" style="padding-left: 0px!important;">
      <pagination-controls responsive="true" autoHide="true" (pageChange)="p = $event" previousLabel="Voltar" nextLabel="Avançar"></pagination-controls>
    </div>
  </div>
</div>