<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngFor="let peca of pecas" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{peca.imagem}}" alt="Card image cap">
        <div class="card-body pb-0">
          <h5 class="card-title">{{peca.nome}}</h5>
          <p class="card-text"><strong>Detalhes: </strong>{{peca.detalhes}}</p>
          <p class="text-muted">{{peca.updatedAt | date}}</p>
        </div>
      </div>
    </div>
  </div>
</div>