<ng-progress></ng-progress>
<div class="container-fluid my-5">
  <div *ngIf="msg" class="row text-center text-white align-self-center">
    <div class="col-12">
      <h4>{{msg}}</h4>
    </div>
  </div>
  <div *ngIf="pecas" class="row">
    <div class="col-12 col-lg-2 col-md-12">
      <div class="list-group mb-3">
        <button class="list-group-item list-group-item-info" type="button">Categorias</button>
        <button type="button" class="list-group-item remove_margin--left" *ngFor="let categoria of categorias" id={{categoria.categoria}}
          (click)="alteraProdutosPelaCategoria($event)">{{categoria.categoria}}</button>
        <button type="button" class="list-group-item" (click)="resetaPesquisa()">Todos os produtos</button>
      </div>
    </div>
    <div id="linhaCatalogo" class="col-12 col-md-12 col-lg-10 d-flex ">
      <div class="card-deck">
        <div class="card mx-3" *ngFor="let peca of pecas | paginate: { itemsPerPage: 5, currentPage: p }" style="width: 11rem;">
          <div class="card-header text-center lead">{{peca.categoria}}</div>
          <img class="card-img-top mt-2" src="{{peca.linkImagem}}" alt="{{peca.detalhes}}">
          <div class="card-body pb-0">
            <div class="container-fluid mx-0 px-0">
              <div class="row">
                <div class="col-12">
                  <h6 class="card-title"><b>{{peca.nome}}</b></h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p>Marca: {{peca.marca}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p><strong>Preço: </strong>{{peca.preco}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p *ngIf="peca.detalhes" class="card-text pb-3"><strong>Detalhes: </strong>{{peca.detalhes}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center pl-2 pb-0 pt-2">
            <p class="text-muted"><small>{{peca.updatedAt | date}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pecas" class="row">
    <div class="col-12 d-flex justify-content-center" style="padding-left: 0px!important;">
      <pagination-controls responsive="true" autoHide="true" (pageChange)="p = $event" previousLabel="Voltar" nextLabel="Avançar"></pagination-controls>
    </div>
  </div>
</div>