<ng-progress></ng-progress>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-2">
        <div class="card-header">
          Cadastre a peça
        </div>
        <div class="card-body">
          <form ngNativeValidate [formGroup]="formCadastroPeca" (ngSubmit)="enviaForm()">
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label for="nome">Nome da Peça</label>
                  <input class="form-control" id="nome" type="text" formControlName="nome" required>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label for="marca">Marca</label>
                  <input class="form-control" id="marca" type="text" formControlName="marca" required>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label>Categoria</label>
                  <div class="input-group">
                    <select *ngIf="categorias" class="form-control" formControlName="categoria" id="inputGroupSelect04" required>
                      <option value="" selected>-- Selecione --</option>
                      <option [value]="categoria" *ngFor="let categoria of categoriasOrdemAlfabetica">{{categoria}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="exibeModalCadastroCategoria(cadastroCategoriaModal)"
                        type="button">Adicionar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="form-group">
                  <label for="imagem">Link da foto</label>
                  <input class="form-control" type="text" id="imagem" formControlName="linkImagem" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="preco">Preço de Venda</label>
                  <input class="form-control" type="number" id="preco" formControlName="preco" required>
                </div>
              </div>
              <div class="col-12 col-md-9">
                <div class="form-group">
                  <label for="detalhes">Detalhes</label>
                  <textarea rows="5" class="form-control" id="detalhes" formControlName="detalhes"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <button class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
            <div *ngIf="sucesso" class="row">
              <div class="col-12">
                <div class="alert alert-success" role="alert">
                  {{msg}}
                </div>
              </div>
            </div>
            <div *ngIf="erro" [hidden]="sucesso" class="row">
              <div class="col-12">
                <div class="alert alert-warning mb-1" role="alert">
                  Somente o campo <b>Detalhes</b> pode ser ignorado. O restante deve ser preenchido.
                </div>
              </div>
            </div>
            <div *ngIf="erro" [hidden]="sucesso" class="row">
              <div class="col-12">
                <div class="alert alert-danger" role="alert">
                  {{erro}}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #cadastroCategoriaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cadastrar categoria</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCategoria" (ngSubmit)="cadastraCategoria()">
      <div class="form-group">
        <label id="categoriaModal">Categoria</label>
        <input class="form-control" type="text" id="categoriaModal" formControlName="categoria">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="cadastraCategoria()" class="btn btn-primary">Cadastrar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>
<app-nav-catalogo></app-nav-catalogo>