li button {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 991px){
    li button {
        margin-left: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}