<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home"><i class="fa fa-home"></i> {{tituloLoja}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="btn btn-primary" routerLink="/catalogo" routerLinkActive="active"><i class="fa fa-book-open"></i>
          Catálogo</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/montagemdeorcamento" routerLinkActive="active"><i
          class="fa fa-wrench"></i> Monte seu Orçamento</button>
      </li>
      <li *ngIf="eAdministrador" class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-primary" id="dropdownConfig" ngbDropdownToggle> <i
              class="fa fa-th-large mr-1"></i>Peças</button>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button class="dropdown-item" routerLink="/cadastropeca" routerLinkActive="active">Cadastrar</button>
            <button class="dropdown-item" routerLink="/listagemdepecas" routerLinkActive="active">Lista</button>
          </div>
        </div>
      </li>
      <li *ngIf="eAdministrador" class="nav-item">
        <button class="btn btn-primary" routerLink="/listamensagens" routerLinkActive="active"><i
            class="fa fa-envelope"></i> Mensagens</button>
      </li>
      <li *ngIf="eAdministrador" class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-primary" id="dropdownConfig" ngbDropdownToggle> <i class="fa fa-list-alt"></i>
            Orçamentos</button>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button class="dropdown-item" routerLink="/orcamentos" routerLinkActive="active">Listar</button>
            <button class="dropdown-item" routerLink="/pesquisaOrcamentos" routerLinkActive="active">Pesquisar</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button *ngIf="!eAdministrador" class="btn btn-outline-success btn-sm my-2" type="submit"
        (click)="abreModalPainelAdm(modalLogin)">Login</button>
      <button *ngIf="eAdministrador" class="btn btn-outline-warning btn-sm my-2 button_configuracao" type="button"
        routerLink="/configuracoes"><i class="fa fa-cogs"></i> Configurações</button>
      <button *ngIf="eAdministrador" class="btn btn-outline-danger btn-sm my-2" type="button" (click)="deslogar()"><i
          class="fa fa-sign-out-alt"></i> Sair</button>
    </div>
  </div>
</nav>
`
<!-- Modal Login-->
<ng-template #modalLogin let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate [formGroup]="formLogin" (ngSubmit)="enviaForm()">
      <div class="form-group">
        <label id="email">Email</label>
        <input class="form-control" type="email" placeholder="Digite seu email de acesso" formControlName="username"
          id="username" required email minlength="4" maxlength="64">
        <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)" class="alert alert-danger mt-1">
          <div *ngIf="f.username.errors.required">
            <small class="text-muted">Um email é necessário para logar</small>
          </div>
          <div *ngIf="f.username.errors.email">
            <small class="text-muted">O email deve ser do tipo usuario@email.com</small>
          </div>
          <div *ngIf="f.username.errors.minlength">
            <small class="text-muted">Deve conter no mínimo 4 letras</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label id="password">Senha</label>
        <input class="form-control" type="password" id="password" placeholder="Sua senha" formControlName="password"
          required minlength="4" maxlength="64">
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger mt-1">
          <div *ngIf="f.password.errors.required">
            <small class="text-muted">Uma senha é necessária para logar</small>
          </div>
          <div *ngIf="f.password.errors.minlength">
            <small class="text-muted">Deve conter no mínimo 4 letras</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="erro" class="alert alert-danger text-center" role="alert">
    {{erro}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!formLogin.valid" (click)="enviaForm()">Login</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>