<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">{{tituloLoja}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="btn btn-primary" routerLink="/catalogo" routerLinkActive="active"><i class="fas fa-book-open"></i> Catálogo</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/montagemdeorcamento" routerLinkActive="active"><i class="fas fa-tools"></i> Monte seu Orçamento</button>
      </li>
      <li *ngIf="eAdministrador" class="nav-item">
        <div ngbDropdown>
          <button class="btn btn-primary" id="dropdownConfig" ngbDropdownToggle> <i class="fas fa-th-large mr-1"></i>Peças</button>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button class="dropdown-item" routerLink="/cadastropeca" routerLinkActive="active">Cadastrar</button>
            <button class="dropdown-item" routerLink="/listagemdepecas" routerLinkActive="active">Lista</button>
          </div>
        </div>
      </li>
      <li *ngIf="eAdministrador" class="nav-item">
        <button class="btn btn-primary" routerLink="/listamensagens" routerLinkActive="active"><i class="fas fa-envelope"></i> Mensagens</button>
      </li>
      <li *ngIf="eAdministrador" class="nav-item">
        <button class="btn btn-primary" routerLink="/orcamentos" routerLinkActive="active"><i class="fas fa-copy"></i> Orçamentos</button>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button *ngIf="!eAdministrador" class="btn btn-outline-success btn-sm my-2" type="submit" (click)="abreModalPainelAdm(conteudo)">Login</button>
      <button *ngIf="eAdministrador" class="btn btn-outline-warning btn-sm my-2 button_configuracao" type="button" routerLink="/configuracoes"><i class="fas fa-cogs"></i> Configurações</button>
      <button *ngIf="eAdministrador" class="btn btn-outline-danger btn-sm my-2" type="button" (click)="deslogar()"><i class="fas fa-sign-out-alt"></i> Sair</button>
    </div>
  </div>
</nav>

<ng-template #conteudo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formLogin" (ngSubmit)="enviaForm()">
      <div class="form-group">
        <label id="email">Email</label>
        <input class="form-control" type="text" id="email" placeholder="Seu email" formControlName="username">
        <small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu email</small>
      </div>
      <div class="form-group">
        <label id="senha">Senha</label>
        <input class="form-control" type="password" id="senha" placeholder="Sua senha" formControlName="password">
      </div>
    </form>
  </div>
  <div *ngIf="erro" class="alert alert-danger text-center" role="alert">
    {{erro}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!formLogin.valid" (click)="enviaForm()">Login</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>
